/* Police */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


html, body {
    background-image: url(../img/hotel.jpg);
    overflow: auto;
    scroll-behavior: smooth;
    margin: 0;
}

h1, h2 {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin: 10px;
    color: black;
}

p {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

.confirmation_reservation {
    float: right;
    width: 22%;
    padding: 1rem;
    margin: 5rem;
    background-color: rgba(177, 174, 174, 0.932);
}

/* Tableau */
table {
    width: 22%;
    border-collapse: collapse;
    table-layout: auto;
    padding: 1rem;
    margin: 5rem;
    background-color: rgba(177, 174, 174, 0.932);
    float: left;
}

td {
    border: 3px solid #dddddd;
    padding: 5px;
    text-align: center;
}

p#FRÉtranger {
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 10px;
    color: black;
}

::placeholder {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
}

.text_travail {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
    color: black;
}
/* ---------------------------------------- */


/* Button Rechercher et effacer */
input[type="button"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    width: 150px;
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    margin: 10px;
}
  
input[type="button"]:hover {
    background-color: #555;
}
/* ---------------------------------------- */


/* Button addition */
.addition_btn {
    background-color: #121312;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;

}

.addition_btn:hover {
    background-color: #323332;
}

.addition_btn:hover {
    background-color: #323332;
}
/* ---------------------------------------- */

/* Button soustraction */
.soustraction_btn {
    background-color: #121312;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.soustraction_btn:hover {
    background-color: #323332;
}
/* ---------------------------------------- */

/* Réservation */
.confirmation_reservation {
    float: right;
    width: 30%;
    padding: 1rem;
    margin: 5rem;
    background-color: rgba(177, 174, 174, 0.932);
}

#recapitulatif {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    margin-top: 1rem;
}

#recapitulatif p {
    margin: 0.5rem 0;
}
/* ---------------------------------------- */

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 38px;
    background-color: rgba(177, 174, 174, 0.932);
    text-align: center;
}

